:root {
  --blue1: #829cbc;
  --blue2: #6290c8;
  --blue3: #376996;
  --blue4: #1f487e;
  --blue5: #1d3461;

  --gray: #eee;
}

.App {
  text-align: center;
  background-color: var(--blue1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-panel {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calender-panel {
  height: 65vh;
}

.bottom-panel {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.daily-info-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
