.event-wrapper {
    border: 1px solid orange;
    height: 80%;
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    align-items: center;
}

.single-grid-row {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

h2.single-grid-row {
    font-weight: 300;
    font-size: 30px;
    display: inline;
}

.single-grid-row>p {
    align-self: center;
    justify-self: center;
}


.row-cell-one {
    grid-column-start: 1;
    grid-column-end: 2;
}

.row-cell-two {
    grid-column-start: 2;
    grid-column-end: 3;
}

.row-cell-three {
    grid-column-start: 3;
    grid-column-end: 4;
}

.row-cell-four {
    grid-column-start: 4;
    grid-column-end: 5;
}

.row-cell-two-and-three {
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-header {
    font-size: 22.5px;
    font-weight: 500;
}